version: "3.9"

services:
  mysql:
    image: mysql:8
    container_name: mysql8
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: smis
      MYSQL_USER: smis_user
      MYSQL_PASSWORD: smis_password
    ports:
      - "3308:3306"
    volumes:
      - mysql8_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql8_data:
